NEXT_PUBLIC_SUPABASE_URL=https://avepduddwnztcensarrt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_4kw74JWOmjXSh2cxG-GbLQ_SZKXCKXi

SUPABASE_URL=https://avepduddwnztcensarrt.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF2ZXBkdWRkd256dGNlbnNhcnJ0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjIzMzk4MSwiZXhwIjoyMDk3ODA5OTgxfQ.OFTuTSO1jZBybrDFTrBTYX7syfPYrKKMZRbGRYzIObQ

NEXT_PUBLIC_AUTH_REDIRECT_URL=http://localhost:3000/auth/callback